.Section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    width: 20px;
    height: 20px;
    fill: var(--p-icon);
    transform: rotate(-90deg);
  }

  .Section-image {
    width: 20px;
    height: 20px;
    background: gray;
    display: block;
    margin-right: 5px;
  }
}
