.CodeTable {
  max-width: 100%;
  width: 100%;

  &-wrapper {
    @media (min-width: 767px) {
      position: sticky;
      top: 0;
    }
  }

  &-tables {
    display: flex;

    // & > *:nth-child(2) {
    //   max-width: 20%;

    //   margin-left: 10px;
    // }
    & > * {
      max-width: 33.333%;
      width: 100%;
      margin-left: 10px;

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  &-convert {
    position: absolute;
    bottom: 5px;
    right: 0px;
    border: 1px solid gray;
    font-size: 15px;
  }

  &-tables-wrapper {
    position: relative;

    button {
    }
  }

  textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    position: relative;
    resize: none;
    height: 400px;

    &#CodeTable-variables {
      height: 100px;
    }
  }
}
