.FormItem {
  padding-bottom: 0;
  margin-bottom: 0;

  &-title {
    position: absolute;
    top: -40px;
    display: block;
    width: 100%;
    left: 0;
    padding-left: 15px;
    color: black;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    font-weight: 300;
    font-size: 15px;

    &:empty {
      height: 40px;
    }
  }

  label {
    color: var(--text-main);
    text-transform: capitalize;
    font-size: 12px;
  }

  &-suboptions {
    background-color: #add8e612;
    padding: 10px 5px !important;

    margin-top: 20px;
  }

  &-suboption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: end;

    // max-width: 45%;
    // display: inline-block;
    // margin-left: -4px;
    // margin-right: 5%;

    &--empty {
      display: none;
    }

    button {
      max-width: 100%;
    }
  }

  &-suboption-item {
    &--button {
      display: none;
    }
  }

  /* Draggable config
  =========================== */
  .sortable-ghost {
    background: lightblue;
  }
}
