.FormItem {
  padding-bottom: 0;
  margin-bottom: 0;
  label {
    color: var(--text-main);
    text-transform: capitalize;
    font-size: 12px;
  }

  &-suboptions {
    background-color: #add8e612;
    padding: 10px 5px !important;

    margin-top: 20px;
  }

  &-suboption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: end;

    // max-width: 45%;
    // display: inline-block;
    // margin-left: -4px;
    // margin-right: 5%;

    &--empty {
      display: none;
    }

    button {
      max-width: 100%;
    }
  }

  &-suboption-item {
    &--button {
      display: none;
    }
  }
}
