.Section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: background-color var(--p-duration-150) var(--p-ease);

  &:hover {
    background-color: var(--p-surface-hovered);
    color: var(--p-icon-hovered);
  }

  svg {
    width: 20px;
    height: 20px;
    fill: var(--p-icon);
    transform: rotate(-90deg);
  }

  .Section-image {
    width: 20px;
    height: 20px;
    background: gray;
    display: block;
    margin-right: 5px;
  }
}
