:root {
  --p-breakpoints-xs: 0rem;
  --p-breakpoints-sm: 30.625rem;
  --p-breakpoints-md: 48rem;
  --p-breakpoints-lg: 65rem;
  --p-breakpoints-xl: 90rem;
  --p-background: #f6f6f7;
  --p-background-hovered: #f1f2f3;
  --p-background-pressed: #edeeef;
  --p-background-selected: #edeeef;
  --p-surface: #fff;
  --p-surface-dark: #202123;
  --p-surface-neutral: #e4e5e7;
  --p-surface-neutral-hovered: #dbdddf;
  --p-surface-neutral-pressed: #c9ccd0;
  --p-surface-neutral-disabled: #f1f2f3;
  --p-surface-neutral-subdued: #f6f6f7;
  --p-surface-neutral-subdued-dark: #44474a;
  --p-surface-subdued: #fafbfb;
  --p-surface-disabled: #fafbfb;
  --p-surface-hovered: #f6f6f7;
  --p-surface-hovered-dark: #2f3133;
  --p-surface-pressed: #f1f2f3;
  --p-surface-pressed-dark: #3e4043;
  --p-surface-depressed: #edeeef;
  --p-surface-search-field: #f1f2f3;
  --p-surface-search-field-dark: #2f3133;
  --p-backdrop: #00000080;
  --p-overlay: #ffffff80;
  --p-shadow-color-picker: #00000080;
  --p-shadow-color-picker-dragger: #212b3652;
  --p-hint-from-direct-light: #00000026;
  --p-border: #8c9196;
  --p-border-on-dark: #505356;
  --p-border-neutral-subdued: #babfc3;
  --p-border-hovered: #999ea4;
  --p-border-disabled: #d2d5d8;
  --p-border-subdued: #c9cccf;
  --p-border-depressed: #575959;
  --p-border-shadow: #aeb4b9;
  --p-border-shadow-subdued: #babfc4;
  --p-divider: #e1e3e5;
  --p-divider-dark: #454749;
  --p-icon: #5c5f62;
  --p-icon-on-dark: #a6acb2;
  --p-icon-hovered: #1a1c1d;
  --p-icon-pressed: #44474a;
  --p-icon-disabled: #babec3;
  --p-icon-subdued: #8c9196;
  --p-text: #202223;
  --p-text-on-dark: #e3e5e7;
  --p-text-disabled: #8c9196;
  --p-text-subdued: #6d7175;
  --p-text-subdued-on-dark: #999fa4;
  --p-interactive: #2c6ecb;
  --p-interactive-on-dark: #36a3ff;
  --p-interactive-disabled: #bdc1cc;
  --p-interactive-hovered: #1f5199;
  --p-interactive-pressed: #103262;
  --p-interactive-pressed-on-dark: #88bcff;
  --p-focused: #458fff;
  --p-surface-selected: #f2f7fe;
  --p-surface-selected-hovered: #edf4fe;
  --p-surface-selected-pressed: #e5effd;
  --p-icon-on-interactive: #fff;
  --p-text-on-interactive: #fff;
  --p-action-secondary: #fff;
  --p-action-secondary-disabled: #fff;
  --p-action-secondary-hovered: #f6f6f7;
  --p-action-secondary-hovered-dark: #54575b;
  --p-action-secondary-pressed: #f1f2f3;
  --p-action-secondary-pressed-dark: #606467;
  --p-action-secondary-depressed: #6d7175;
  --p-action-primary: #008060;
  --p-action-primary-disabled: #f1f1f1;
  --p-action-primary-hovered: #006e52;
  --p-action-primary-pressed: #005e46;
  --p-action-primary-depressed: #003d2c;
  --p-icon-on-primary: #fff;
  --p-text-on-primary: #fff;
  --p-text-primary: #007b5c;
  --p-text-primary-hovered: #006c50;
  --p-text-primary-pressed: #005c44;
  --p-surface-primary-selected: #f1f8f5;
  --p-surface-primary-selected-hovered: #b3d0c3;
  --p-surface-primary-selected-pressed: #a2bcb0;
  --p-border-critical: #fd5749;
  --p-border-critical-subdued: #e0b3b2;
  --p-border-critical-disabled: #ffa7a3;
  --p-icon-critical: #d72c0d;
  --p-surface-critical: #fed3d1;
  --p-surface-critical-subdued: #fff4f4;
  --p-surface-critical-subdued-hovered: #fff0f0;
  --p-surface-critical-subdued-pressed: #ffe9e8;
  --p-surface-critical-subdued-depressed: #febcb9;
  --p-text-critical: #d72c0d;
  --p-action-critical: #d82c0d;
  --p-action-critical-disabled: #f1f1f1;
  --p-action-critical-hovered: #bc2200;
  --p-action-critical-pressed: #a21b00;
  --p-action-critical-depressed: #6c0f00;
  --p-icon-on-critical: #fff;
  --p-text-on-critical: #fff;
  --p-interactive-critical: #d82c0d;
  --p-interactive-critical-disabled: #fd938d;
  --p-interactive-critical-hovered: #cd290c;
  --p-interactive-critical-pressed: #670f03;
  --p-border-warning: #b98900;
  --p-border-warning-subdued: #e1b878;
  --p-icon-warning: #b98900;
  --p-surface-warning: #ffd79d;
  --p-surface-warning-subdued: #fff5ea;
  --p-surface-warning-subdued-hovered: #fff2e2;
  --p-surface-warning-subdued-pressed: #ffebd3;
  --p-text-warning: #916a00;
  --p-border-highlight: #449da7;
  --p-border-highlight-subdued: #98c6cd;
  --p-icon-highlight: #00a0ac;
  --p-surface-highlight: #a4e8f2;
  --p-surface-highlight-subdued: #ebf9fc;
  --p-surface-highlight-subdued-hovered: #e4f7fa;
  --p-surface-highlight-subdued-pressed: #d5f3f8;
  --p-text-highlight: #347c84;
  --p-border-success: #00a47c;
  --p-border-success-subdued: #95c9b4;
  --p-icon-success: #007f5f;
  --p-surface-success: #aee9d1;
  --p-surface-success-subdued: #f1f8f5;
  --p-surface-success-subdued-hovered: #ecf6f1;
  --p-surface-success-subdued-pressed: #e2f1ea;
  --p-text-success: #008060;
  --p-icon-attention: #8a6116;
  --p-surface-attention: #ffea8a;
  --p-decorative-one-icon: #7e5700;
  --p-decorative-one-surface: #ffc96b;
  --p-decorative-one-text: #3d2800;
  --p-decorative-two-icon: #af294e;
  --p-decorative-two-surface: #ffc4b0;
  --p-decorative-two-text: #490b1c;
  --p-decorative-three-icon: #006d41;
  --p-decorative-three-surface: #92e6b5;
  --p-decorative-three-text: #002f19;
  --p-decorative-four-icon: #006a68;
  --p-decorative-four-surface: #91e0d6;
  --p-decorative-four-text: #002d2d;
  --p-decorative-five-icon: #ae2b4c;
  --p-decorative-five-surface: #fdc9d0;
  --p-decorative-five-text: #4f0e1f;
  --p-shadow-transparent: 0 0 0 0 #0000;
  --p-shadow-faint: 0 0.0625rem 0 0 #161d250d;
  --p-shadow-base: 0 0 0 0.0625rem #3f3f440d, 0 0.0625rem 0.1875rem 0 #3f3f4426;
  --p-shadow-deep: 0 0 0 0.0625rem #062c521a, 0 0.125rem 1rem #212b3614;
  --p-shadow-button: 0 0.0625rem 0 #0000000d;
  --p-shadow-top-bar: 0 0.125rem 0.125rem -0.0625rem #00000026;
  --p-shadow-card: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;
  --p-shadow-popover: 0 0.1875rem 0.375rem -0.1875rem #17181814,
    0 0.5rem 1.25rem -0.25rem #1718181f;
  --p-shadow-layer: 0 1.9375rem 2.5625rem 0 #202a3533,
    0 0.125rem 1rem 0 #202a3614;
  --p-shadow-modal: 0 1.625rem 5rem #0003, 0 0 0.0625rem #0003;
  --p-shadows-inset-button: inset 0 -0.0625rem 0 #0003;
  --p-shadows-inset-button-pressed: inset 0 0.0625rem 0 #00000026;
  --p-font-family-sans: -apple-system, BlinkMacSystemFont, "San Francisco",
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --p-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;
  --p-font-size-75: 0.75rem;
  --p-font-size-100: 0.875rem;
  --p-font-size-200: 1rem;
  --p-font-size-300: 1.25rem;
  --p-font-size-400: 1.5rem;
  --p-font-size-500: 1.75rem;
  --p-font-size-600: 2rem;
  --p-font-size-700: 2.5rem;
  --p-font-weight-regular: 400;
  --p-font-weight-medium: 500;
  --p-font-weight-semibold: 600;
  --p-font-weight-bold: 700;
  --p-font-line-height-1: 1rem;
  --p-font-line-height-2: 1.25rem;
  --p-font-line-height-3: 1.5rem;
  --p-font-line-height-4: 1.75rem;
  --p-font-line-height-5: 2rem;
  --p-font-line-height-6: 2.5rem;
  --p-font-line-height-7: 3rem;
  --p-override-loading-z-index: 514;
  --p-choice-size: 1.25rem;
  --p-icon-size-small: 0.5rem;
  --p-icon-size-medium: 1.25rem;
  --p-choice-margin: 0.0625rem;
  --p-control-border-width: 0.125rem;
  --p-banner-border-default: inset 0 0.0625rem 0 0
      var(--p-border-neutral-subdued),
    inset 0 0 0 0.0625rem var(--p-border-neutral-subdued);
  --p-banner-border-success: inset 0 0.0625rem 0 0
      var(--p-border-success-subdued),
    inset 0 0 0 0.0625rem var(--p-border-success-subdued);
  --p-banner-border-highlight: inset 0 0.0625rem 0 0
      var(--p-border-highlight-subdued),
    inset 0 0 0 0.0625rem var(--p-border-highlight-subdued);
  --p-banner-border-warning: inset 0 0.0625rem 0 0
      var(--p-border-warning-subdued),
    inset 0 0 0 0.0625rem var(--p-border-warning-subdued);
  --p-banner-border-critical: inset 0 0.0625rem 0 0
      var(--p-border-critical-subdued),
    inset 0 0 0 0.0625rem var(--p-border-critical-subdued);
  --p-thin-border-subdued: 0.0625rem solid var(--p-border-subdued);
  --p-text-field-spinner-offset: 0.125rem;
  --p-text-field-focus-ring-offset: -0.25rem;
  --p-button-group-item-spacing: -0.0625rem;
  --p-range-slider-thumb-size-base: 1rem;
  --p-range-slider-thumb-size-active: 1.5rem;
  --p-frame-offset: 0rem;
  --p-duration-0: 0ms;
  --p-duration-50: 50ms;
  --p-duration-100: 100ms;
  --p-duration-150: 150ms;
  --p-duration-200: 200ms;
  --p-duration-250: 250ms;
  --p-duration-300: 300ms;
  --p-duration-350: 350ms;
  --p-duration-400: 400ms;
  --p-duration-450: 450ms;
  --p-duration-500: 500ms;
  --p-duration-5000: 5000ms;
  --p-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --p-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --p-ease-out: cubic-bezier(0, 0, 0.58, 1);
  --p-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --p-linear: cubic-bezier(0, 0, 1, 1);
  --p-keyframes-bounce: p-keyframes-bounce;
  --p-keyframes-fade-in: p-keyframes-fade-in;
  --p-keyframes-pulse: p-keyframes-pulse;
  --p-keyframes-spin: p-keyframes-spin;
  --p-border-radius-05: 0.125rem;
  --p-border-radius-1: 0.25rem;
  --p-border-radius-2: 0.5rem;
  --p-border-radius-3: 0.75rem;
  --p-border-radius-4: 1rem;
  --p-border-radius-5: 1.25rem;
  --p-border-radius-6: 1.875rem;
  --p-border-radius-base: 0.1875rem;
  --p-border-radius-large: 0.375rem;
  --p-border-radius-half: 50%;
  --p-border-width-1: 0.0625rem;
  --p-border-width-2: 0.125rem;
  --p-border-width-3: 0.1875rem;
  --p-border-width-4: 0.25rem;
  --p-border-width-5: 0.3125rem;
  --p-border-base: var(--p-border-width-1) solid var(--p-border-subdued);
  --p-border-dark: var(--p-border-width-1) solid var(--p-border);
  --p-border-transparent: var(--p-border-width-1) solid #0000;
  --p-border-divider: var(--p-border-width-1) solid var(--p-divider);
  --p-border-divider-on-dark: var(--p-border-width-1) solid
    var(--p-divider-dark);
  --p-space-0: 0;
  --p-space-025: 0.0625rem;
  --p-space-05: 0.125rem;
  --p-space-1: 0.25rem;
  --p-space-2: 0.5rem;
  --p-space-3: 0.75rem;
  --p-space-4: 1rem;
  --p-space-5: 1.25rem;
  --p-space-6: 1.5rem;
  --p-space-8: 2rem;
  --p-space-10: 2.5rem;
  --p-space-12: 3rem;
  --p-space-16: 4rem;
  --p-space-20: 5rem;
  --p-space-24: 6rem;
  --p-space-28: 7rem;
  --p-space-32: 8rem;
  --p-z-1: 100;
  --p-z-2: 400;
  --p-z-3: 510;
  --p-z-4: 512;
  --p-z-5: 513;
  --p-z-6: 514;
  --p-z-7: 515;
  --p-z-8: 516;
  --p-z-9: 517;
  --p-z-10: 518;
  --p-z-11: 519;
  --p-z-12: 520;
  color-scheme: light;
}

.App {
  .App-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  &-wrapper {
  }

  .shopify-component {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

/* CSS Reset */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto600&display=swap");

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  font-family: "Roboto", sans-serif !important;
}
/* Sections
	 ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
